
.Home{
    text-align:center;
    display:grid;
    place-items:center;
    min-height:100vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding:0 10px;
  }

  .line1{
    width: 2px;height: 44vh;
    background: -webkit-linear-gradient(#38495a,white );
    position: absolute ;
    left: 60px;
    bottom: 0;
  }

    .line2 {
      width: 2px;
      height: 44vh;
      background: -webkit-linear-gradient(white, #38495a);
      position: absolute;
      right: 60px;
      top: 0;
      display: flex;
      flex-direction: column;
      flex-wrap:wrap;
    }
    .Etext p{
      background:white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      font-size:20px;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      position: absolute;
      right: 22px;
      bottom:7.6vh;
    }
    .Etext:hover{
      background-color:#B0DFE5;
      text-shadow: #000000;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
      
    .button_main{
      width: 80px;
      height: 80px;
      border-radius: 100px;
      border-color:#FFF;
      cursor: pointer;
      background: transparent;
      position:absolute;
      margin-top:300px;
      color: aliceblue;
      font-size: 15px;
    }
    

    .button_main:hover{
      box-shadow: 0 0 10px #000000;
    }

    .anm{
      background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
      height: 100vh;
      width: 100vw;
      position: fixed;
    }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1390px 712px #FFF, 237px 705px #FFF, 1532px 125px #FFF, 1754px 1869px #FFF, 388px 267px #FFF, 849px 1529px #FFF, 505px 1193px #FFF, 1972px 916px #FFF, 81px 1935px #FFF, 117px 543px #FFF, 388px 752px #FFF, 317px 534px #FFF, 1603px 333px #FFF, 465px 1450px #FFF, 917px 1621px #FFF, 1164px 1919px #FFF, 803px 276px #FFF, 162px 1397px #FFF, 1348px 1575px #FFF, 1530px 1500px #FFF, 1101px 313px #FFF, 1708px 934px #FFF, 1450px 884px #FFF, 1916px 108px #FFF, 1571px 1476px #FFF, 1750px 584px #FFF, 1994px 1462px #FFF, 1409px 1974px #FFF, 114px 161px #FFF, 903px 776px #FFF, 545px 1706px #FFF, 360px 991px #FFF, 1185px 450px #FFF, 1900px 560px #FFF, 49px 1949px #FFF, 870px 1711px #FFF, 1664px 943px #FFF, 1814px 366px #FFF, 924px 767px #FFF, 103px 1304px #FFF, 1916px 1606px #FFF, 1836px 295px #FFF, 1107px 232px #FFF, 498px 1356px #FFF, 1698px 1550px #FFF, 609px 48px #FFF, 448px 1342px #FFF, 1848px 685px #FFF, 564px 1919px #FFF, 244px 1509px #FFF, 956px 357px #FFF, 1375px 1853px #FFF, 1564px 479px #FFF, 1635px 1674px #FFF, 150px 1180px #FFF, 986px 426px #FFF, 1282px 414px #FFF, 856px 1915px #FFF, 165px 1119px #FFF, 497px 867px #FFF, 477px 1263px #FFF, 1176px 266px #FFF, 507px 1071px #FFF, 678px 1599px #FFF, 1144px 1837px #FFF, 1513px 1100px #FFF, 37px 888px #FFF, 482px 1308px #FFF, 786px 1631px #FFF, 1785px 202px #FFF, 176px 1389px #FFF, 391px 174px #FFF, 724px 1195px #FFF, 422px 1322px #FFF, 1532px 1013px #FFF, 1419px 481px #FFF, 1783px 1985px #FFF, 15px 1043px #FFF, 248px 1785px #FFF, 172px 725px #FFF, 1068px 1970px #FFF, 797px 1388px #FFF, 520px 1913px #FFF, 1285px 864px #FFF, 75px 1357px #FFF, 489px 927px #FFF, 1276px 1687px #FFF, 1501px 1032px #FFF, 724px 1623px #FFF, 1193px 907px #FFF, 917px 111px #FFF, 1680px 1481px #FFF, 1000px 344px #FFF, 1183px 1998px #FFF, 36px 955px #FFF, 548px 1333px #FFF, 1498px 632px #FFF, 291px 729px #FFF, 362px 1660px #FFF, 143px 447px #FFF, 1262px 1832px #FFF, 1795px 1815px #FFF, 551px 867px #FFF, 19px 1294px #FFF, 826px 1433px #FFF, 718px 800px #FFF, 735px 1093px #FFF, 322px 1195px #FFF, 1659px 1977px #FFF, 153px 695px #FFF, 194px 725px #FFF, 689px 995px #FFF, 1682px 1393px #FFF, 752px 410px #FFF, 746px 369px #FFF, 641px 771px #FFF, 1991px 772px #FFF, 1768px 956px #FFF, 411px 173px #FFF, 42px 1608px #FFF, 1842px 1624px #FFF, 436px 881px #FFF, 1873px 140px #FFF, 1063px 693px #FFF, 1719px 645px #FFF, 523px 1570px #FFF, 471px 1046px #FFF, 134px 1539px #FFF, 1958px 594px #FFF, 510px 839px #FFF, 1228px 410px #FFF, 216px 1769px #FFF, 825px 142px #FFF, 1227px 1246px #FFF, 837px 1756px #FFF, 577px 76px #FFF, 957px 1737px #FFF, 1848px 689px #FFF, 1216px 1841px #FFF, 132px 860px #FFF, 1825px 1668px #FFF, 656px 1035px #FFF, 440px 11px #FFF, 1873px 929px #FFF, 1104px 952px #FFF, 430px 1835px #FFF, 1250px 1228px #FFF, 1537px 332px #FFF, 1236px 663px #FFF, 879px 863px #FFF, 953px 69px #FFF, 1973px 1709px #FFF, 1477px 10px #FFF, 130px 479px #FFF, 812px 424px #FFF, 1262px 1044px #FFF, 1282px 1538px #FFF, 1800px 1396px #FFF, 931px 1959px #FFF, 1400px 85px #FFF, 450px 733px #FFF, 1946px 231px #FFF, 571px 35px #FFF, 1403px 1249px #FFF, 314px 1610px #FFF, 279px 11px #FFF, 948px 355px #FFF, 248px 326px #FFF, 1683px 1200px #FFF, 1475px 312px #FFF, 1866px 1730px #FFF, 1666px 54px #FFF, 1052px 97px #FFF, 1843px 1471px #FFF, 290px 721px #FFF, 1648px 1286px #FFF, 548px 1755px #FFF, 1499px 1756px #FFF, 1736px 1422px #FFF, 1981px 1873px #FFF, 965px 1490px #FFF, 1231px 1211px #FFF, 139px 1873px #FFF, 1164px 1495px #FFF, 152px 1747px #FFF, 820px 1074px #FFF, 1597px 197px #FFF, 496px 1922px #FFF, 786px 1686px #FFF, 1305px 939px #FFF, 1665px 1866px #FFF, 1418px 1209px #FFF, 1874px 478px #FFF, 641px 977px #FFF, 1365px 1812px #FFF, 1721px 796px #FFF, 1098px 931px #FFF, 1403px 1302px #FFF, 1493px 422px #FFF, 1723px 1417px #FFF, 675px 295px #FFF, 110px 891px #FFF, 368px 1597px #FFF, 216px 125px #FFF, 140px 114px #FFF, 1942px 718px #FFF, 473px 552px #FFF, 1065px 918px #FFF, 644px 1899px #FFF, 1228px 1340px #FFF, 43px 857px #FFF, 568px 572px #FFF, 792px 1768px #FFF, 1458px 879px #FFF, 1868px 476px #FFF, 1922px 285px #FFF, 1724px 1874px #FFF, 975px 1428px #FFF, 1202px 238px #FFF, 1852px 1585px #FFF, 894px 104px #FFF, 865px 1013px #FFF, 1855px 153px #FFF, 1589px 1696px #FFF, 1954px 1987px #FFF, 1982px 1464px #FFF, 1682px 1167px #FFF, 47px 1338px #FFF, 1798px 1037px #FFF, 1871px 227px #FFF, 1046px 274px #FFF, 1873px 1062px #FFF, 195px 1899px #FFF, 1611px 1106px #FFF, 972px 538px #FFF, 426px 1219px #FFF, 52px 566px #FFF, 735px 703px #FFF, 238px 780px #FFF, 821px 1429px #FFF, 301px 1197px #FFF, 266px 494px #FFF, 1355px 1037px #FFF, 84px 1327px #FFF, 1455px 376px #FFF, 90px 126px #FFF, 339px 683px #FFF, 532px 567px #FFF, 1135px 764px #FFF, 109px 1300px #FFF, 883px 1203px #FFF, 1918px 1618px #FFF, 1470px 779px #FFF, 1804px 808px #FFF, 1568px 350px #FFF, 960px 408px #FFF, 1038px 521px #FFF, 764px 1738px #FFF, 1813px 1748px #FFF, 468px 541px #FFF, 1208px 75px #FFF, 198px 747px #FFF, 720px 1526px #FFF, 309px 818px #FFF, 1878px 1757px #FFF, 1554px 152px #FFF, 1920px 664px #FFF, 1979px 1412px #FFF, 1152px 1329px #FFF, 1237px 829px #FFF, 1221px 70px #FFF, 1425px 1687px #FFF, 430px 736px #FFF, 1937px 1160px #FFF, 1569px 1301px #FFF, 626px 1015px #FFF, 439px 1521px #FFF, 1846px 337px #FFF, 8px 318px #FFF, 977px 1151px #FFF, 43px 1107px #FFF, 1795px 1108px #FFF, 861px 1274px #FFF, 107px 1479px #FFF, 1563px 71px #FFF, 1889px 1417px #FFF, 1644px 871px #FFF, 791px 1140px #FFF, 32px 778px #FFF, 1228px 313px #FFF, 1675px 1285px #FFF, 797px 443px #FFF, 1983px 895px #FFF, 1702px 1046px #FFF, 206px 1847px #FFF, 832px 771px #FFF, 1295px 814px #FFF, 1376px 1857px #FFF, 344px 426px #FFF, 253px 935px #FFF, 687px 935px #FFF, 1844px 284px #FFF, 271px 1181px #FFF, 1202px 330px #FFF, 1873px 1612px #FFF, 216px 239px #FFF, 1280px 579px #FFF, 1047px 643px #FFF, 1559px 1668px #FFF, 906px 840px #FFF, 1061px 1124px #FFF, 595px 1198px #FFF, 462px 733px #FFF, 1325px 1430px #FFF, 1070px 1972px #FFF, 1674px 1487px #FFF, 215px 218px #FFF, 1601px 389px #FFF, 1477px 230px #FFF, 545px 83px #FFF, 1139px 1967px #FFF, 1284px 1573px #FFF, 909px 1327px #FFF, 1295px 130px #FFF, 33px 186px #FFF, 312px 267px #FFF, 1232px 651px #FFF, 707px 1016px #FFF, 1625px 1451px #FFF, 1706px 436px #FFF, 964px 1396px #FFF, 857px 792px #FFF, 1617px 1762px #FFF, 341px 1211px #FFF, 335px 145px #FFF, 1935px 49px #FFF, 1002px 336px #FFF, 1788px 1459px #FFF, 59px 658px #FFF, 1315px 1126px #FFF, 958px 15px #FFF, 1685px 1307px #FFF, 1622px 430px #FFF, 1912px 1600px #FFF, 307px 1244px #FFF, 928px 1656px #FFF, 1737px 543px #FFF, 858px 1685px #FFF, 588px 1171px #FFF, 148px 1316px #FFF, 458px 1081px #FFF, 867px 620px #FFF, 1847px 629px #FFF, 886px 1123px #FFF, 1002px 1577px #FFF, 933px 1987px #FFF, 1557px 1612px #FFF, 520px 1292px #FFF, 1594px 1588px #FFF, 381px 483px #FFF, 1270px 1297px #FFF, 111px 687px #FFF, 1497px 514px #FFF, 1540px 1698px #FFF, 1390px 1487px #FFF, 273px 791px #FFF, 8px 1138px #FFF, 1282px 1114px #FFF, 1718px 1612px #FFF, 265px 1736px #FFF, 1106px 27px #FFF, 643px 470px #FFF, 508px 1106px #FFF, 1373px 953px #FFF, 148px 1891px #FFF, 943px 1632px #FFF, 1692px 1664px #FFF, 372px 267px #FFF, 1234px 184px #FFF, 539px 141px #FFF, 921px 1305px #FFF, 602px 91px #FFF, 1615px 1157px #FFF, 501px 1317px #FFF, 1492px 245px #FFF, 79px 1363px #FFF, 1159px 1473px #FFF, 582px 147px #FFF, 250px 1389px #FFF, 1780px 1074px #FFF, 708px 883px #FFF, 706px 845px #FFF, 610px 772px #FFF, 1450px 331px #FFF, 1625px 87px #FFF, 609px 126px #FFF, 1368px 1086px #FFF, 1608px 692px #FFF, 795px 1130px #FFF, 176px 291px #FFF, 1953px 1816px #FFF, 726px 206px #FFF, 1420px 1368px #FFF, 99px 1354px #FFF, 1795px 1713px #FFF, 1098px 374px #FFF, 1704px 1473px #FFF, 1722px 1589px #FFF, 1863px 1871px #FFF, 895px 414px #FFF, 1952px 282px #FFF, 167px 1845px #FFF, 1550px 290px #FFF, 125px 152px #FFF, 1446px 539px #FFF, 82px 748px #FFF, 1780px 1780px #FFF, 452px 1179px #FFF, 919px 1144px #FFF, 972px 835px #FFF, 188px 371px #FFF, 1995px 1443px #FFF, 1172px 1617px #FFF, 1583px 1055px #FFF, 1425px 78px #FFF, 1757px 1351px #FFF, 1886px 301px #FFF, 1209px 174px #FFF, 1659px 658px #FFF, 82px 316px #FFF, 1787px 884px #FFF, 1132px 1341px #FFF, 668px 84px #FFF, 1102px 1771px #FFF, 483px 1004px #FFF, 1861px 1871px #FFF, 62px 1889px #FFF, 52px 185px #FFF, 1041px 1544px #FFF, 131px 359px #FFF, 928px 61px #FFF, 320px 850px #FFF, 1595px 259px #FFF, 704px 1055px #FFF, 1414px 318px #FFF, 624px 1634px #FFF, 498px 1408px #FFF, 1605px 22px #FFF, 674px 402px #FFF, 854px 1269px #FFF, 205px 1714px #FFF, 37px 342px #FFF, 1394px 329px #FFF, 1875px 532px #FFF, 1991px 1342px #FFF, 1999px 1021px #FFF, 1451px 1642px #FFF, 1716px 338px #FFF, 1561px 1344px #FFF, 674px 177px #FFF, 152px 117px #FFF, 854px 1500px #FFF, 1185px 841px #FFF, 640px 415px #FFF, 1758px 705px #FFF, 124px 908px #FFF, 1340px 429px #FFF, 262px 222px #FFF, 1713px 250px #FFF, 725px 715px #FFF, 885px 638px #FFF, 586px 1291px #FFF, 716px 1452px #FFF, 292px 1401px #FFF, 148px 71px #FFF, 1149px 1014px #FFF, 1992px 145px #FFF, 1384px 105px #FFF, 1821px 1494px #FFF, 596px 1042px #FFF, 774px 854px #FFF, 930px 539px #FFF, 1970px 652px #FFF, 1437px 974px #FFF, 148px 124px #FFF, 1922px 1735px #FFF, 1032px 119px #FFF, 862px 1220px #FFF, 811px 180px #FFF, 1123px 1319px #FFF, 1780px 173px #FFF, 1352px 402px #FFF, 963px 992px #FFF, 1374px 1528px #FFF, 626px 1430px #FFF, 356px 1313px #FFF, 1894px 1375px #FFF, 1600px 122px #FFF, 1288px 1539px #FFF, 1089px 1446px #FFF, 159px 505px #FFF, 1132px 183px #FFF, 624px 896px #FFF, 828px 1525px #FFF, 1655px 1957px #FFF, 1710px 1882px #FFF, 1787px 1262px #FFF, 221px 1487px #FFF, 296px 1132px #FFF, 230px 6px #FFF, 16px 1860px #FFF, 1536px 991px #FFF, 1297px 1155px #FFF, 240px 901px #FFF, 1511px 789px #FFF, 1473px 894px #FFF, 1755px 574px #FFF, 508px 482px #FFF, 1841px 238px #FFF, 487px 167px #FFF, 255px 348px #FFF, 1642px 1449px #FFF, 191px 904px #FFF, 880px 1931px #FFF, 1446px 1633px #FFF, 1823px 97px #FFF, 5px 1503px #FFF, 575px 1704px #FFF, 84px 1709px #FFF, 765px 15px #FFF, 1953px 1225px #FFF, 589px 1896px #FFF, 770px 1968px #FFF, 1919px 420px #FFF, 172px 551px #FFF, 1585px 1590px #FFF, 1691px 1625px #FFF, 1635px 1671px #FFF, 539px 1183px #FFF, 334px 1403px #FFF, 528px 269px #FFF, 1842px 1467px #FFF, 898px 494px #FFF, 398px 782px #FFF, 370px 1320px #FFF, 617px 567px #FFF, 1234px 973px #FFF, 1328px 1978px #FFF, 1105px 1409px #FFF, 1852px 1289px #FFF, 1722px 529px #FFF, 822px 660px #FFF, 1459px 362px #FFF, 1353px 704px #FFF, 1239px 517px #FFF, 1827px 376px #FFF, 882px 634px #FFF, 497px 1382px #FFF, 808px 1858px #FFF, 449px 904px #FFF, 954px 1966px #FFF, 1251px 587px #FFF, 553px 1814px #FFF, 902px 78px #FFF, 183px 1016px #FFF, 1826px 662px #FFF, 590px 1331px #FFF, 1528px 276px #FFF, 1826px 1800px #FFF, 77px 155px #FFF, 1426px 1336px #FFF, 1988px 1091px #FFF, 625px 325px #FFF, 697px 1340px #FFF, 562px 1043px #FFF, 1678px 1012px #FFF, 751px 1240px #FFF, 435px 1987px #FFF, 1421px 1661px #FFF, 1485px 1860px #FFF, 1523px 1294px #FFF, 848px 1307px #FFF, 1568px 217px #FFF, 168px 1206px #FFF, 57px 1485px #FFF, 1547px 80px #FFF, 344px 1147px #FFF, 98px 867px #FFF, 87px 1646px #FFF, 67px 1086px #FFF, 1602px 1111px #FFF, 1399px 1538px #FFF, 1875px 1771px #FFF, 1458px 334px #FFF, 82px 1819px #FFF, 248px 1229px #FFF, 1616px 241px #FFF, 1261px 822px #FFF, 1943px 1077px #FFF, 1940px 1402px #FFF, 776px 567px #FFF, 1635px 67px #FFF, 948px 1380px #FFF, 21px 1179px #FFF, 560px 1489px #FFF, 925px 1187px #FFF, 1168px 1745px #FFF, 658px 676px #FFF, 498px 100px #FFF, 237px 859px #FFF, 275px 1060px #FFF, 510px 613px #FFF, 1969px 1231px #FFF, 1736px 1895px #FFF, 897px 6px #FFF, 280px 1403px #FFF, 1854px 1389px #FFF, 263px 401px #FFF, 1431px 1867px #FFF, 1576px 739px #FFF, 767px 1569px #FFF, 1460px 450px #FFF, 1455px 915px #FFF, 1790px 759px #FFF, 191px 1833px #FFF, 1816px 637px #FFF, 977px 533px #FFF, 1072px 535px #FFF, 889px 624px #FFF, 1571px 1969px #FFF, 626px 722px #FFF, 104px 1106px #FFF, 206px 13px #FFF, 1511px 833px #FFF, 1987px 1293px #FFF, 72px 767px #FFF, 1140px 1642px #FFF, 572px 1503px #FFF, 1367px 1674px #FFF, 662px 278px #FFF, 970px 1458px #FFF, 731px 279px #FFF, 770px 90px #FFF, 1713px 1147px #FFF, 736px 1390px #FFF, 764px 676px #FFF, 1704px 563px #FFF, 1444px 1089px #FFF, 771px 192px #FFF, 1888px 411px #FFF, 983px 248px #FFF, 1901px 160px #FFF, 1741px 1138px #FFF, 513px 708px #FFF, 54px 1093px #FFF, 891px 1637px #FFF, 268px 583px #FFF, 621px 58px #FFF, 1727px 1714px #FFF, 1669px 624px #FFF, 539px 517px #FFF, 1651px 1856px #FFF, 1889px 1514px #FFF, 633px 1509px #FFF, 1213px 1766px #FFF, 824px 1964px #FFF, 1318px 460px #FFF, 1901px 59px #FFF, 1811px 125px #FFF, 1649px 1704px #FFF, 1249px 134px #FFF, 1541px 509px #FFF, 1261px 1443px #FFF, 1396px 490px #FFF, 592px 667px #FFF, 1245px 1547px #FFF, 315px 33px #FFF, 1098px 713px #FFF, 1192px 158px #FFF, 1743px 215px #FFF, 977px 1627px #FFF, 320px 854px #FFF, 1638px 1153px #FFF, 1184px 1561px #FFF, 357px 301px #FFF, 1377px 643px #FFF, 635px 647px #FFF, 968px 185px #FFF, 334px 997px #FFF, 819px 565px #FFF, 6px 603px #FFF, 437px 1055px #FFF, 1502px 387px #FFF, 508px 1488px #FFF, 1583px 581px #FFF, 376px 1881px #FFF, 1500px 1003px #FFF, 1100px 1991px #FFF, 150px 674px #FFF, 260px 1415px #FFF;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1390px 712px #FFF, 237px 705px #FFF, 1532px 125px #FFF, 1754px 1869px #FFF, 388px 267px #FFF, 849px 1529px #FFF, 505px 1193px #FFF, 1972px 916px #FFF, 81px 1935px #FFF, 117px 543px #FFF, 388px 752px #FFF, 317px 534px #FFF, 1603px 333px #FFF, 465px 1450px #FFF, 917px 1621px #FFF, 1164px 1919px #FFF, 803px 276px #FFF, 162px 1397px #FFF, 1348px 1575px #FFF, 1530px 1500px #FFF, 1101px 313px #FFF, 1708px 934px #FFF, 1450px 884px #FFF, 1916px 108px #FFF, 1571px 1476px #FFF, 1750px 584px #FFF, 1994px 1462px #FFF, 1409px 1974px #FFF, 114px 161px #FFF, 903px 776px #FFF, 545px 1706px #FFF, 360px 991px #FFF, 1185px 450px #FFF, 1900px 560px #FFF, 49px 1949px #FFF, 870px 1711px #FFF, 1664px 943px #FFF, 1814px 366px #FFF, 924px 767px #FFF, 103px 1304px #FFF, 1916px 1606px #FFF, 1836px 295px #FFF, 1107px 232px #FFF, 498px 1356px #FFF, 1698px 1550px #FFF, 609px 48px #FFF, 448px 1342px #FFF, 1848px 685px #FFF, 564px 1919px #FFF, 244px 1509px #FFF, 956px 357px #FFF, 1375px 1853px #FFF, 1564px 479px #FFF, 1635px 1674px #FFF, 150px 1180px #FFF, 986px 426px #FFF, 1282px 414px #FFF, 856px 1915px #FFF, 165px 1119px #FFF, 497px 867px #FFF, 477px 1263px #FFF, 1176px 266px #FFF, 507px 1071px #FFF, 678px 1599px #FFF, 1144px 1837px #FFF, 1513px 1100px #FFF, 37px 888px #FFF, 482px 1308px #FFF, 786px 1631px #FFF, 1785px 202px #FFF, 176px 1389px #FFF, 391px 174px #FFF, 724px 1195px #FFF, 422px 1322px #FFF, 1532px 1013px #FFF, 1419px 481px #FFF, 1783px 1985px #FFF, 15px 1043px #FFF, 248px 1785px #FFF, 172px 725px #FFF, 1068px 1970px #FFF, 797px 1388px #FFF, 520px 1913px #FFF, 1285px 864px #FFF, 75px 1357px #FFF, 489px 927px #FFF, 1276px 1687px #FFF, 1501px 1032px #FFF, 724px 1623px #FFF, 1193px 907px #FFF, 917px 111px #FFF, 1680px 1481px #FFF, 1000px 344px #FFF, 1183px 1998px #FFF, 36px 955px #FFF, 548px 1333px #FFF, 1498px 632px #FFF, 291px 729px #FFF, 362px 1660px #FFF, 143px 447px #FFF, 1262px 1832px #FFF, 1795px 1815px #FFF, 551px 867px #FFF, 19px 1294px #FFF, 826px 1433px #FFF, 718px 800px #FFF, 735px 1093px #FFF, 322px 1195px #FFF, 1659px 1977px #FFF, 153px 695px #FFF, 194px 725px #FFF, 689px 995px #FFF, 1682px 1393px #FFF, 752px 410px #FFF, 746px 369px #FFF, 641px 771px #FFF, 1991px 772px #FFF, 1768px 956px #FFF, 411px 173px #FFF, 42px 1608px #FFF, 1842px 1624px #FFF, 436px 881px #FFF, 1873px 140px #FFF, 1063px 693px #FFF, 1719px 645px #FFF, 523px 1570px #FFF, 471px 1046px #FFF, 134px 1539px #FFF, 1958px 594px #FFF, 510px 839px #FFF, 1228px 410px #FFF, 216px 1769px #FFF, 825px 142px #FFF, 1227px 1246px #FFF, 837px 1756px #FFF, 577px 76px #FFF, 957px 1737px #FFF, 1848px 689px #FFF, 1216px 1841px #FFF, 132px 860px #FFF, 1825px 1668px #FFF, 656px 1035px #FFF, 440px 11px #FFF, 1873px 929px #FFF, 1104px 952px #FFF, 430px 1835px #FFF, 1250px 1228px #FFF, 1537px 332px #FFF, 1236px 663px #FFF, 879px 863px #FFF, 953px 69px #FFF, 1973px 1709px #FFF, 1477px 10px #FFF, 130px 479px #FFF, 812px 424px #FFF, 1262px 1044px #FFF, 1282px 1538px #FFF, 1800px 1396px #FFF, 931px 1959px #FFF, 1400px 85px #FFF, 450px 733px #FFF, 1946px 231px #FFF, 571px 35px #FFF, 1403px 1249px #FFF, 314px 1610px #FFF, 279px 11px #FFF, 948px 355px #FFF, 248px 326px #FFF, 1683px 1200px #FFF, 1475px 312px #FFF, 1866px 1730px #FFF, 1666px 54px #FFF, 1052px 97px #FFF, 1843px 1471px #FFF, 290px 721px #FFF, 1648px 1286px #FFF, 548px 1755px #FFF, 1499px 1756px #FFF, 1736px 1422px #FFF, 1981px 1873px #FFF, 965px 1490px #FFF, 1231px 1211px #FFF, 139px 1873px #FFF, 1164px 1495px #FFF, 152px 1747px #FFF, 820px 1074px #FFF, 1597px 197px #FFF, 496px 1922px #FFF, 786px 1686px #FFF, 1305px 939px #FFF, 1665px 1866px #FFF, 1418px 1209px #FFF, 1874px 478px #FFF, 641px 977px #FFF, 1365px 1812px #FFF, 1721px 796px #FFF, 1098px 931px #FFF, 1403px 1302px #FFF, 1493px 422px #FFF, 1723px 1417px #FFF, 675px 295px #FFF, 110px 891px #FFF, 368px 1597px #FFF, 216px 125px #FFF, 140px 114px #FFF, 1942px 718px #FFF, 473px 552px #FFF, 1065px 918px #FFF, 644px 1899px #FFF, 1228px 1340px #FFF, 43px 857px #FFF, 568px 572px #FFF, 792px 1768px #FFF, 1458px 879px #FFF, 1868px 476px #FFF, 1922px 285px #FFF, 1724px 1874px #FFF, 975px 1428px #FFF, 1202px 238px #FFF, 1852px 1585px #FFF, 894px 104px #FFF, 865px 1013px #FFF, 1855px 153px #FFF, 1589px 1696px #FFF, 1954px 1987px #FFF, 1982px 1464px #FFF, 1682px 1167px #FFF, 47px 1338px #FFF, 1798px 1037px #FFF, 1871px 227px #FFF, 1046px 274px #FFF, 1873px 1062px #FFF, 195px 1899px #FFF, 1611px 1106px #FFF, 972px 538px #FFF, 426px 1219px #FFF, 52px 566px #FFF, 735px 703px #FFF, 238px 780px #FFF, 821px 1429px #FFF, 301px 1197px #FFF, 266px 494px #FFF, 1355px 1037px #FFF, 84px 1327px #FFF, 1455px 376px #FFF, 90px 126px #FFF, 339px 683px #FFF, 532px 567px #FFF, 1135px 764px #FFF, 109px 1300px #FFF, 883px 1203px #FFF, 1918px 1618px #FFF, 1470px 779px #FFF, 1804px 808px #FFF, 1568px 350px #FFF, 960px 408px #FFF, 1038px 521px #FFF, 764px 1738px #FFF, 1813px 1748px #FFF, 468px 541px #FFF, 1208px 75px #FFF, 198px 747px #FFF, 720px 1526px #FFF, 309px 818px #FFF, 1878px 1757px #FFF, 1554px 152px #FFF, 1920px 664px #FFF, 1979px 1412px #FFF, 1152px 1329px #FFF, 1237px 829px #FFF, 1221px 70px #FFF, 1425px 1687px #FFF, 430px 736px #FFF, 1937px 1160px #FFF, 1569px 1301px #FFF, 626px 1015px #FFF, 439px 1521px #FFF, 1846px 337px #FFF, 8px 318px #FFF, 977px 1151px #FFF, 43px 1107px #FFF, 1795px 1108px #FFF, 861px 1274px #FFF, 107px 1479px #FFF, 1563px 71px #FFF, 1889px 1417px #FFF, 1644px 871px #FFF, 791px 1140px #FFF, 32px 778px #FFF, 1228px 313px #FFF, 1675px 1285px #FFF, 797px 443px #FFF, 1983px 895px #FFF, 1702px 1046px #FFF, 206px 1847px #FFF, 832px 771px #FFF, 1295px 814px #FFF, 1376px 1857px #FFF, 344px 426px #FFF, 253px 935px #FFF, 687px 935px #FFF, 1844px 284px #FFF, 271px 1181px #FFF, 1202px 330px #FFF, 1873px 1612px #FFF, 216px 239px #FFF, 1280px 579px #FFF, 1047px 643px #FFF, 1559px 1668px #FFF, 906px 840px #FFF, 1061px 1124px #FFF, 595px 1198px #FFF, 462px 733px #FFF, 1325px 1430px #FFF, 1070px 1972px #FFF, 1674px 1487px #FFF, 215px 218px #FFF, 1601px 389px #FFF, 1477px 230px #FFF, 545px 83px #FFF, 1139px 1967px #FFF, 1284px 1573px #FFF, 909px 1327px #FFF, 1295px 130px #FFF, 33px 186px #FFF, 312px 267px #FFF, 1232px 651px #FFF, 707px 1016px #FFF, 1625px 1451px #FFF, 1706px 436px #FFF, 964px 1396px #FFF, 857px 792px #FFF, 1617px 1762px #FFF, 341px 1211px #FFF, 335px 145px #FFF, 1935px 49px #FFF, 1002px 336px #FFF, 1788px 1459px #FFF, 59px 658px #FFF, 1315px 1126px #FFF, 958px 15px #FFF, 1685px 1307px #FFF, 1622px 430px #FFF, 1912px 1600px #FFF, 307px 1244px #FFF, 928px 1656px #FFF, 1737px 543px #FFF, 858px 1685px #FFF, 588px 1171px #FFF, 148px 1316px #FFF, 458px 1081px #FFF, 867px 620px #FFF, 1847px 629px #FFF, 886px 1123px #FFF, 1002px 1577px #FFF, 933px 1987px #FFF, 1557px 1612px #FFF, 520px 1292px #FFF, 1594px 1588px #FFF, 381px 483px #FFF, 1270px 1297px #FFF, 111px 687px #FFF, 1497px 514px #FFF, 1540px 1698px #FFF, 1390px 1487px #FFF, 273px 791px #FFF, 8px 1138px #FFF, 1282px 1114px #FFF, 1718px 1612px #FFF, 265px 1736px #FFF, 1106px 27px #FFF, 643px 470px #FFF, 508px 1106px #FFF, 1373px 953px #FFF, 148px 1891px #FFF, 943px 1632px #FFF, 1692px 1664px #FFF, 372px 267px #FFF, 1234px 184px #FFF, 539px 141px #FFF, 921px 1305px #FFF, 602px 91px #FFF, 1615px 1157px #FFF, 501px 1317px #FFF, 1492px 245px #FFF, 79px 1363px #FFF, 1159px 1473px #FFF, 582px 147px #FFF, 250px 1389px #FFF, 1780px 1074px #FFF, 708px 883px #FFF, 706px 845px #FFF, 610px 772px #FFF, 1450px 331px #FFF, 1625px 87px #FFF, 609px 126px #FFF, 1368px 1086px #FFF, 1608px 692px #FFF, 795px 1130px #FFF, 176px 291px #FFF, 1953px 1816px #FFF, 726px 206px #FFF, 1420px 1368px #FFF, 99px 1354px #FFF, 1795px 1713px #FFF, 1098px 374px #FFF, 1704px 1473px #FFF, 1722px 1589px #FFF, 1863px 1871px #FFF, 895px 414px #FFF, 1952px 282px #FFF, 167px 1845px #FFF, 1550px 290px #FFF, 125px 152px #FFF, 1446px 539px #FFF, 82px 748px #FFF, 1780px 1780px #FFF, 452px 1179px #FFF, 919px 1144px #FFF, 972px 835px #FFF, 188px 371px #FFF, 1995px 1443px #FFF, 1172px 1617px #FFF, 1583px 1055px #FFF, 1425px 78px #FFF, 1757px 1351px #FFF, 1886px 301px #FFF, 1209px 174px #FFF, 1659px 658px #FFF, 82px 316px #FFF, 1787px 884px #FFF, 1132px 1341px #FFF, 668px 84px #FFF, 1102px 1771px #FFF, 483px 1004px #FFF, 1861px 1871px #FFF, 62px 1889px #FFF, 52px 185px #FFF, 1041px 1544px #FFF, 131px 359px #FFF, 928px 61px #FFF, 320px 850px #FFF, 1595px 259px #FFF, 704px 1055px #FFF, 1414px 318px #FFF, 624px 1634px #FFF, 498px 1408px #FFF, 1605px 22px #FFF, 674px 402px #FFF, 854px 1269px #FFF, 205px 1714px #FFF, 37px 342px #FFF, 1394px 329px #FFF, 1875px 532px #FFF, 1991px 1342px #FFF, 1999px 1021px #FFF, 1451px 1642px #FFF, 1716px 338px #FFF, 1561px 1344px #FFF, 674px 177px #FFF, 152px 117px #FFF, 854px 1500px #FFF, 1185px 841px #FFF, 640px 415px #FFF, 1758px 705px #FFF, 124px 908px #FFF, 1340px 429px #FFF, 262px 222px #FFF, 1713px 250px #FFF, 725px 715px #FFF, 885px 638px #FFF, 586px 1291px #FFF, 716px 1452px #FFF, 292px 1401px #FFF, 148px 71px #FFF, 1149px 1014px #FFF, 1992px 145px #FFF, 1384px 105px #FFF, 1821px 1494px #FFF, 596px 1042px #FFF, 774px 854px #FFF, 930px 539px #FFF, 1970px 652px #FFF, 1437px 974px #FFF, 148px 124px #FFF, 1922px 1735px #FFF, 1032px 119px #FFF, 862px 1220px #FFF, 811px 180px #FFF, 1123px 1319px #FFF, 1780px 173px #FFF, 1352px 402px #FFF, 963px 992px #FFF, 1374px 1528px #FFF, 626px 1430px #FFF, 356px 1313px #FFF, 1894px 1375px #FFF, 1600px 122px #FFF, 1288px 1539px #FFF, 1089px 1446px #FFF, 159px 505px #FFF, 1132px 183px #FFF, 624px 896px #FFF, 828px 1525px #FFF, 1655px 1957px #FFF, 1710px 1882px #FFF, 1787px 1262px #FFF, 221px 1487px #FFF, 296px 1132px #FFF, 230px 6px #FFF, 16px 1860px #FFF, 1536px 991px #FFF, 1297px 1155px #FFF, 240px 901px #FFF, 1511px 789px #FFF, 1473px 894px #FFF, 1755px 574px #FFF, 508px 482px #FFF, 1841px 238px #FFF, 487px 167px #FFF, 255px 348px #FFF, 1642px 1449px #FFF, 191px 904px #FFF, 880px 1931px #FFF, 1446px 1633px #FFF, 1823px 97px #FFF, 5px 1503px #FFF, 575px 1704px #FFF, 84px 1709px #FFF, 765px 15px #FFF, 1953px 1225px #FFF, 589px 1896px #FFF, 770px 1968px #FFF, 1919px 420px #FFF, 172px 551px #FFF, 1585px 1590px #FFF, 1691px 1625px #FFF, 1635px 1671px #FFF, 539px 1183px #FFF, 334px 1403px #FFF, 528px 269px #FFF, 1842px 1467px #FFF, 898px 494px #FFF, 398px 782px #FFF, 370px 1320px #FFF, 617px 567px #FFF, 1234px 973px #FFF, 1328px 1978px #FFF, 1105px 1409px #FFF, 1852px 1289px #FFF, 1722px 529px #FFF, 822px 660px #FFF, 1459px 362px #FFF, 1353px 704px #FFF, 1239px 517px #FFF, 1827px 376px #FFF, 882px 634px #FFF, 497px 1382px #FFF, 808px 1858px #FFF, 449px 904px #FFF, 954px 1966px #FFF, 1251px 587px #FFF, 553px 1814px #FFF, 902px 78px #FFF, 183px 1016px #FFF, 1826px 662px #FFF, 590px 1331px #FFF, 1528px 276px #FFF, 1826px 1800px #FFF, 77px 155px #FFF, 1426px 1336px #FFF, 1988px 1091px #FFF, 625px 325px #FFF, 697px 1340px #FFF, 562px 1043px #FFF, 1678px 1012px #FFF, 751px 1240px #FFF, 435px 1987px #FFF, 1421px 1661px #FFF, 1485px 1860px #FFF, 1523px 1294px #FFF, 848px 1307px #FFF, 1568px 217px #FFF, 168px 1206px #FFF, 57px 1485px #FFF, 1547px 80px #FFF, 344px 1147px #FFF, 98px 867px #FFF, 87px 1646px #FFF, 67px 1086px #FFF, 1602px 1111px #FFF, 1399px 1538px #FFF, 1875px 1771px #FFF, 1458px 334px #FFF, 82px 1819px #FFF, 248px 1229px #FFF, 1616px 241px #FFF, 1261px 822px #FFF, 1943px 1077px #FFF, 1940px 1402px #FFF, 776px 567px #FFF, 1635px 67px #FFF, 948px 1380px #FFF, 21px 1179px #FFF, 560px 1489px #FFF, 925px 1187px #FFF, 1168px 1745px #FFF, 658px 676px #FFF, 498px 100px #FFF, 237px 859px #FFF, 275px 1060px #FFF, 510px 613px #FFF, 1969px 1231px #FFF, 1736px 1895px #FFF, 897px 6px #FFF, 280px 1403px #FFF, 1854px 1389px #FFF, 263px 401px #FFF, 1431px 1867px #FFF, 1576px 739px #FFF, 767px 1569px #FFF, 1460px 450px #FFF, 1455px 915px #FFF, 1790px 759px #FFF, 191px 1833px #FFF, 1816px 637px #FFF, 977px 533px #FFF, 1072px 535px #FFF, 889px 624px #FFF, 1571px 1969px #FFF, 626px 722px #FFF, 104px 1106px #FFF, 206px 13px #FFF, 1511px 833px #FFF, 1987px 1293px #FFF, 72px 767px #FFF, 1140px 1642px #FFF, 572px 1503px #FFF, 1367px 1674px #FFF, 662px 278px #FFF, 970px 1458px #FFF, 731px 279px #FFF, 770px 90px #FFF, 1713px 1147px #FFF, 736px 1390px #FFF, 764px 676px #FFF, 1704px 563px #FFF, 1444px 1089px #FFF, 771px 192px #FFF, 1888px 411px #FFF, 983px 248px #FFF, 1901px 160px #FFF, 1741px 1138px #FFF, 513px 708px #FFF, 54px 1093px #FFF, 891px 1637px #FFF, 268px 583px #FFF, 621px 58px #FFF, 1727px 1714px #FFF, 1669px 624px #FFF, 539px 517px #FFF, 1651px 1856px #FFF, 1889px 1514px #FFF, 633px 1509px #FFF, 1213px 1766px #FFF, 824px 1964px #FFF, 1318px 460px #FFF, 1901px 59px #FFF, 1811px 125px #FFF, 1649px 1704px #FFF, 1249px 134px #FFF, 1541px 509px #FFF, 1261px 1443px #FFF, 1396px 490px #FFF, 592px 667px #FFF, 1245px 1547px #FFF, 315px 33px #FFF, 1098px 713px #FFF, 1192px 158px #FFF, 1743px 215px #FFF, 977px 1627px #FFF, 320px 854px #FFF, 1638px 1153px #FFF, 1184px 1561px #FFF, 357px 301px #FFF, 1377px 643px #FFF, 635px 647px #FFF, 968px 185px #FFF, 334px 997px #FFF, 819px 565px #FFF, 6px 603px #FFF, 437px 1055px #FFF, 1502px 387px #FFF, 508px 1488px #FFF, 1583px 581px #FFF, 376px 1881px #FFF, 1500px 1003px #FFF, 1100px 1991px #FFF, 150px 674px #FFF, 260px 1415px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1388px 376px #FFF, 185px 722px #FFF, 280px 820px #FFF, 1297px 1839px #FFF, 1142px 34px #FFF, 605px 1559px #FFF, 608px 1834px #FFF, 1320px 100px #FFF, 617px 1704px #FFF, 1221px 1331px #FFF, 587px 732px #FFF, 1440px 1931px #FFF, 1638px 786px #FFF, 1936px 186px #FFF, 366px 376px #FFF, 308px 1382px #FFF, 874px 417px #FFF, 1777px 1049px #FFF, 1354px 1137px #FFF, 654px 1423px #FFF, 576px 1180px #FFF, 1392px 1706px #FFF, 1634px 437px #FFF, 1873px 754px #FFF, 1481px 947px #FFF, 1556px 17px #FFF, 457px 331px #FFF, 1074px 937px #FFF, 126px 590px #FFF, 352px 108px #FFF, 1135px 1629px #FFF, 1007px 36px #FFF, 1437px 1782px #FFF, 411px 925px #FFF, 559px 1063px #FFF, 1649px 1134px #FFF, 1690px 498px #FFF, 768px 342px #FFF, 1642px 302px #FFF, 240px 228px #FFF, 851px 1117px #FFF, 1610px 117px #FFF, 1634px 180px #FFF, 977px 30px #FFF, 1103px 694px #FFF, 50px 1674px #FFF, 243px 1102px #FFF, 1715px 1680px #FFF, 1286px 974px #FFF, 1670px 1911px #FFF, 1357px 1958px #FFF, 1337px 1302px #FFF, 1939px 447px #FFF, 388px 1665px #FFF, 970px 675px #FFF, 311px 1825px #FFF, 1354px 227px #FFF, 1111px 9px #FFF, 1411px 1236px #FFF, 713px 1022px #FFF, 1716px 1500px #FFF, 798px 1849px #FFF, 227px 1969px #FFF, 642px 668px #FFF, 38px 391px #FFF, 384px 1173px #FFF, 1951px 997px #FFF, 713px 396px #FFF, 357px 1986px #FFF, 1618px 532px #FFF, 1052px 1673px #FFF, 1025px 1674px #FFF, 1912px 675px #FFF, 1948px 289px #FFF, 1972px 1598px #FFF, 1230px 329px #FFF, 347px 1987px #FFF, 281px 777px #FFF, 114px 1126px #FFF, 117px 1601px #FFF, 1931px 402px #FFF, 821px 1315px #FFF, 475px 1147px #FFF, 306px 1871px #FFF, 985px 1591px #FFF, 641px 664px #FFF, 1965px 422px #FFF, 126px 861px #FFF, 1833px 1688px #FFF, 798px 1235px #FFF, 1937px 569px #FFF, 1438px 476px #FFF, 759px 117px #FFF, 1247px 1886px #FFF, 63px 699px #FFF, 1484px 1192px #FFF, 674px 3px #FFF, 1335px 1570px #FFF, 613px 455px #FFF, 861px 871px #FFF, 71px 550px #FFF, 784px 616px #FFF, 1319px 575px #FFF, 959px 91px #FFF, 339px 983px #FFF, 1182px 1175px #FFF, 1912px 570px #FFF, 1222px 303px #FFF, 1354px 828px #FFF, 1244px 1818px #FFF, 1372px 335px #FFF, 933px 1753px #FFF, 1003px 473px #FFF, 1234px 1086px #FFF, 215px 158px #FFF, 1403px 751px #FFF, 1236px 703px #FFF, 1550px 1454px #FFF, 174px 680px #FFF, 624px 1291px #FFF, 7px 1729px #FFF, 965px 995px #FFF, 1520px 995px #FFF, 190px 1667px #FFF, 745px 633px #FFF, 294px 1365px #FFF, 555px 1084px #FFF, 1748px 497px #FFF, 1246px 1437px #FFF, 967px 1074px #FFF, 1839px 816px #FFF, 179px 70px #FFF, 175px 172px #FFF, 270px 884px #FFF, 173px 1112px #FFF, 225px 965px #FFF, 1924px 1055px #FFF, 200px 83px #FFF, 1917px 369px #FFF, 536px 215px #FFF, 1565px 1507px #FFF, 1372px 546px #FFF, 1618px 1540px #FFF, 755px 498px #FFF, 684px 81px #FFF, 279px 1516px #FFF, 1123px 1697px #FFF, 1850px 1237px #FFF, 549px 801px #FFF, 807px 979px #FFF, 1816px 1128px #FFF, 648px 428px #FFF, 1339px 262px #FFF, 1569px 963px #FFF, 443px 960px #FFF, 177px 159px #FFF, 1913px 1264px #FFF, 1330px 530px #FFF, 883px 1503px #FFF, 601px 1960px #FFF, 568px 69px #FFF, 9px 402px #FFF, 1952px 520px #FFF, 1345px 550px #FFF, 1821px 1240px #FFF, 1109px 1870px #FFF, 717px 567px #FFF, 1971px 156px #FFF, 516px 41px #FFF, 1788px 1643px #FFF, 678px 1408px #FFF, 311px 1754px #FFF, 182px 30px #FFF, 1775px 965px #FFF, 1155px 1211px #FFF, 1712px 1800px #FFF, 1464px 595px #FFF, 1896px 1376px #FFF, 1113px 184px #FFF, 1534px 1708px #FFF, 519px 1145px #FFF, 1532px 1509px #FFF, 900px 531px #FFF, 950px 729px #FFF, 1781px 1957px #FFF, 1952px 1369px #FFF, 646px 402px #FFF, 372px 927px #FFF, 1851px 518px #FFF, 1064px 1679px #FFF, 570px 958px #FFF, 1879px 1921px #FFF, 1789px 1185px #FFF, 1636px 1253px #FFF, 212px 1925px #FFF, 1090px 694px #FFF, 946px 1755px #FFF, 1921px 1433px #FFF, 660px 131px #FFF, 1460px 1507px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1388px 376px #FFF, 185px 722px #FFF, 280px 820px #FFF, 1297px 1839px #FFF, 1142px 34px #FFF, 605px 1559px #FFF, 608px 1834px #FFF, 1320px 100px #FFF, 617px 1704px #FFF, 1221px 1331px #FFF, 587px 732px #FFF, 1440px 1931px #FFF, 1638px 786px #FFF, 1936px 186px #FFF, 366px 376px #FFF, 308px 1382px #FFF, 874px 417px #FFF, 1777px 1049px #FFF, 1354px 1137px #FFF, 654px 1423px #FFF, 576px 1180px #FFF, 1392px 1706px #FFF, 1634px 437px #FFF, 1873px 754px #FFF, 1481px 947px #FFF, 1556px 17px #FFF, 457px 331px #FFF, 1074px 937px #FFF, 126px 590px #FFF, 352px 108px #FFF, 1135px 1629px #FFF, 1007px 36px #FFF, 1437px 1782px #FFF, 411px 925px #FFF, 559px 1063px #FFF, 1649px 1134px #FFF, 1690px 498px #FFF, 768px 342px #FFF, 1642px 302px #FFF, 240px 228px #FFF, 851px 1117px #FFF, 1610px 117px #FFF, 1634px 180px #FFF, 977px 30px #FFF, 1103px 694px #FFF, 50px 1674px #FFF, 243px 1102px #FFF, 1715px 1680px #FFF, 1286px 974px #FFF, 1670px 1911px #FFF, 1357px 1958px #FFF, 1337px 1302px #FFF, 1939px 447px #FFF, 388px 1665px #FFF, 970px 675px #FFF, 311px 1825px #FFF, 1354px 227px #FFF, 1111px 9px #FFF, 1411px 1236px #FFF, 713px 1022px #FFF, 1716px 1500px #FFF, 798px 1849px #FFF, 227px 1969px #FFF, 642px 668px #FFF, 38px 391px #FFF, 384px 1173px #FFF, 1951px 997px #FFF, 713px 396px #FFF, 357px 1986px #FFF, 1618px 532px #FFF, 1052px 1673px #FFF, 1025px 1674px #FFF, 1912px 675px #FFF, 1948px 289px #FFF, 1972px 1598px #FFF, 1230px 329px #FFF, 347px 1987px #FFF, 281px 777px #FFF, 114px 1126px #FFF, 117px 1601px #FFF, 1931px 402px #FFF, 821px 1315px #FFF, 475px 1147px #FFF, 306px 1871px #FFF, 985px 1591px #FFF, 641px 664px #FFF, 1965px 422px #FFF, 126px 861px #FFF, 1833px 1688px #FFF, 798px 1235px #FFF, 1937px 569px #FFF, 1438px 476px #FFF, 759px 117px #FFF, 1247px 1886px #FFF, 63px 699px #FFF, 1484px 1192px #FFF, 674px 3px #FFF, 1335px 1570px #FFF, 613px 455px #FFF, 861px 871px #FFF, 71px 550px #FFF, 784px 616px #FFF, 1319px 575px #FFF, 959px 91px #FFF, 339px 983px #FFF, 1182px 1175px #FFF, 1912px 570px #FFF, 1222px 303px #FFF, 1354px 828px #FFF, 1244px 1818px #FFF, 1372px 335px #FFF, 933px 1753px #FFF, 1003px 473px #FFF, 1234px 1086px #FFF, 215px 158px #FFF, 1403px 751px #FFF, 1236px 703px #FFF, 1550px 1454px #FFF, 174px 680px #FFF, 624px 1291px #FFF, 7px 1729px #FFF, 965px 995px #FFF, 1520px 995px #FFF, 190px 1667px #FFF, 745px 633px #FFF, 294px 1365px #FFF, 555px 1084px #FFF, 1748px 497px #FFF, 1246px 1437px #FFF, 967px 1074px #FFF, 1839px 816px #FFF, 179px 70px #FFF, 175px 172px #FFF, 270px 884px #FFF, 173px 1112px #FFF, 225px 965px #FFF, 1924px 1055px #FFF, 200px 83px #FFF, 1917px 369px #FFF, 536px 215px #FFF, 1565px 1507px #FFF, 1372px 546px #FFF, 1618px 1540px #FFF, 755px 498px #FFF, 684px 81px #FFF, 279px 1516px #FFF, 1123px 1697px #FFF, 1850px 1237px #FFF, 549px 801px #FFF, 807px 979px #FFF, 1816px 1128px #FFF, 648px 428px #FFF, 1339px 262px #FFF, 1569px 963px #FFF, 443px 960px #FFF, 177px 159px #FFF, 1913px 1264px #FFF, 1330px 530px #FFF, 883px 1503px #FFF, 601px 1960px #FFF, 568px 69px #FFF, 9px 402px #FFF, 1952px 520px #FFF, 1345px 550px #FFF, 1821px 1240px #FFF, 1109px 1870px #FFF, 717px 567px #FFF, 1971px 156px #FFF, 516px 41px #FFF, 1788px 1643px #FFF, 678px 1408px #FFF, 311px 1754px #FFF, 182px 30px #FFF, 1775px 965px #FFF, 1155px 1211px #FFF, 1712px 1800px #FFF, 1464px 595px #FFF, 1896px 1376px #FFF, 1113px 184px #FFF, 1534px 1708px #FFF, 519px 1145px #FFF, 1532px 1509px #FFF, 900px 531px #FFF, 950px 729px #FFF, 1781px 1957px #FFF, 1952px 1369px #FFF, 646px 402px #FFF, 372px 927px #FFF, 1851px 518px #FFF, 1064px 1679px #FFF, 570px 958px #FFF, 1879px 1921px #FFF, 1789px 1185px #FFF, 1636px 1253px #FFF, 212px 1925px #FFF, 1090px 694px #FFF, 946px 1755px #FFF, 1921px 1433px #FFF, 660px 131px #FFF, 1460px 1507px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 472px 910px #FFF, 618px 1142px #FFF, 485px 506px #FFF, 564px 492px #FFF, 1421px 1400px #FFF, 466px 1529px #FFF, 1185px 1175px #FFF, 1283px 1000px #FFF, 152px 1248px #FFF, 1667px 531px #FFF, 1603px 1878px #FFF, 178px 1395px #FFF, 945px 1440px #FFF, 330px 895px #FFF, 1140px 1523px #FFF, 527px 1219px #FFF, 1283px 1059px #FFF, 727px 1165px #FFF, 149px 1100px #FFF, 1328px 1640px #FFF, 311px 179px #FFF, 901px 163px #FFF, 1760px 873px #FFF, 296px 1419px #FFF, 1097px 320px #FFF, 1860px 810px #FFF, 1175px 1323px #FFF, 1919px 1021px #FFF, 1229px 22px #FFF, 457px 1400px #FFF, 1800px 1184px #FFF, 1503px 744px #FFF, 1906px 1218px #FFF, 1599px 941px #FFF, 350px 855px #FFF, 1187px 1622px #FFF, 314px 914px #FFF, 1734px 755px #FFF, 690px 248px #FFF, 69px 2000px #FFF, 1615px 467px #FFF, 366px 600px #FFF, 1572px 1877px #FFF, 132px 977px #FFF, 1174px 1381px #FFF, 302px 1431px #FFF, 1027px 216px #FFF, 901px 926px #FFF, 1673px 275px #FFF, 168px 1712px #FFF, 405px 229px #FFF, 1902px 1590px #FFF, 119px 954px #FFF, 627px 1002px #FFF, 1671px 1323px #FFF, 820px 773px #FFF, 478px 1056px #FFF, 767px 668px #FFF, 108px 261px #FFF, 316px 538px #FFF, 1331px 1819px #FFF, 1249px 1683px #FFF, 1008px 977px #FFF, 32px 666px #FFF, 350px 337px #FFF, 72px 1892px #FFF, 793px 1339px #FFF, 70px 119px #FFF, 1266px 938px #FFF, 954px 1019px #FFF, 1975px 977px #FFF, 1779px 392px #FFF, 1407px 577px #FFF, 1071px 768px #FFF, 1379px 1825px #FFF, 830px 504px #FFF, 1735px 1431px #FFF, 1907px 1258px #FFF, 613px 525px #FFF, 1605px 1590px #FFF, 458px 416px #FFF, 1027px 480px #FFF, 43px 1887px #FFF, 758px 1467px #FFF, 828px 822px #FFF, 1663px 239px #FFF, 257px 56px #FFF, 707px 1715px #FFF, 1742px 1098px #FFF, 889px 281px #FFF, 262px 486px #FFF, 768px 639px #FFF, 496px 721px #FFF, 1812px 338px #FFF, 1024px 1072px #FFF, 306px 1045px #FFF, 812px 1446px #FFF, 102px 669px #FFF, 915px 1514px #FFF, 152px 3px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 472px 910px #FFF, 618px 1142px #FFF, 485px 506px #FFF, 564px 492px #FFF, 1421px 1400px #FFF, 466px 1529px #FFF, 1185px 1175px #FFF, 1283px 1000px #FFF, 152px 1248px #FFF, 1667px 531px #FFF, 1603px 1878px #FFF, 178px 1395px #FFF, 945px 1440px #FFF, 330px 895px #FFF, 1140px 1523px #FFF, 527px 1219px #FFF, 1283px 1059px #FFF, 727px 1165px #FFF, 149px 1100px #FFF, 1328px 1640px #FFF, 311px 179px #FFF, 901px 163px #FFF, 1760px 873px #FFF, 296px 1419px #FFF, 1097px 320px #FFF, 1860px 810px #FFF, 1175px 1323px #FFF, 1919px 1021px #FFF, 1229px 22px #FFF, 457px 1400px #FFF, 1800px 1184px #FFF, 1503px 744px #FFF, 1906px 1218px #FFF, 1599px 941px #FFF, 350px 855px #FFF, 1187px 1622px #FFF, 314px 914px #FFF, 1734px 755px #FFF, 690px 248px #FFF, 69px 2000px #FFF, 1615px 467px #FFF, 366px 600px #FFF, 1572px 1877px #FFF, 132px 977px #FFF, 1174px 1381px #FFF, 302px 1431px #FFF, 1027px 216px #FFF, 901px 926px #FFF, 1673px 275px #FFF, 168px 1712px #FFF, 405px 229px #FFF, 1902px 1590px #FFF, 119px 954px #FFF, 627px 1002px #FFF, 1671px 1323px #FFF, 820px 773px #FFF, 478px 1056px #FFF, 767px 668px #FFF, 108px 261px #FFF, 316px 538px #FFF, 1331px 1819px #FFF, 1249px 1683px #FFF, 1008px 977px #FFF, 32px 666px #FFF, 350px 337px #FFF, 72px 1892px #FFF, 793px 1339px #FFF, 70px 119px #FFF, 1266px 938px #FFF, 954px 1019px #FFF, 1975px 977px #FFF, 1779px 392px #FFF, 1407px 577px #FFF, 1071px 768px #FFF, 1379px 1825px #FFF, 830px 504px #FFF, 1735px 1431px #FFF, 1907px 1258px #FFF, 613px 525px #FFF, 1605px 1590px #FFF, 458px 416px #FFF, 1027px 480px #FFF, 43px 1887px #FFF, 758px 1467px #FFF, 828px 822px #FFF, 1663px 239px #FFF, 257px 56px #FFF, 707px 1715px #FFF, 1742px 1098px #FFF, 889px 281px #FFF, 262px 486px #FFF, 768px 639px #FFF, 496px 721px #FFF, 1812px 338px #FFF, 1024px 1072px #FFF, 306px 1045px #FFF, 812px 1446px #FFF, 102px 669px #FFF, 915px 1514px #FFF, 152px 3px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}