.active{
    display: none;
}
.projects{
    background-color: white;
    display:flex;
    flex-direction :column;
    align-items:center;
    background: #161623;
    height: 100vh;

   .textzone2{
    position: relative;
    display: flex;align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 40px;
    margin-top: 20px;

   }
    .container{
        width:100%;
        height:100%;
        display:flex;
        align-items:center ;
        justify-content: center;
        flex-wrap: wrap;

        .sc-bczRLJ{
            position: relative;
            background: hsl(187, 50%, 79%,0.6);
            color:black;

            &:hover {
                    transform: translateX(10px);
                    
                    color: hsl(187, 50%, 79%);
                    background: rgb(255,255,255,0.3);
                }
        }

        .rec-arrow-right{
            &:hover {
                    transform: translateX(-10px);
            
                }
        }
        .sc-iBkjds {
            position: relative;
        }
    .card{
        width:300px;
        height:400px;
        background: rgba(255,255,255,0.05);
        margin: 20px;
        box-shadow: 0 15px 35px rgba(0,0,0,0.2);
        border-radius: 15px;
        display:flex;
        justify-content: center;
        align-items:center;
        backdrop-filter:blur(10px) ;
        flex-direction: column;
        opacity:0.5;
        transition:0.5s;
        cursor: pointer;

        &.featured{
            width: 280px;
            height: 75%;
            margin: 0 30px;
        }
        &:hover{
            opacity:1;
            transform: translateY(-20px);

        }
        .center{
                position:relative;
                width:200px;
                overflow: hidden;
                height:200px;
            img{
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                object-fit:fill;
                }
            }
        .tit{
            color:#fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight:500;
            font-size:18px;
            text-align:center;
            margin: 20px 0 10px;
            line-height:1.1em;
        }
        .bottom{
            position: absolute;
            bottom: 50px;
            width: 100%;

            .items{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(40px);
                transition: 0.5s;
                opacity: 0;
                
                                .btn-primary {
                                    width: 80px;
                                    height: 30px;
                                    border: none;
                                    color: black;
                                    background-color: #CCCCFF;
                                    border-radius: 4px;
                                    box-shadow: inset 0 0 0 0 #73C2FB ;
                                    transition: ease-in-out 0.7s;
                                    outline: none;
                                }
                
                                .btn-primary:hover {
                                    box-shadow: inset 300px 0 0 0 #73C2FB ;
                                    cursor: pointer;
                                    color: black;
                                }
            }               
        }
                &:hover .items{
                    transform: translateY(10px);
                    opacity: 1;
                }
                
        
    }
}
}