.mainCont{
  height: 100vh;width: 100vw;display: flex;align-items: center;justify-content: center;
}
.modalBackground {
    width: 1200px;
    height: 500px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.05);
  }
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
    opacity: 0.7;
  }

    .titleCloseBtn button:hover {
      opacity: 1;
    }

  .modalContainer {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: row;
  } 
 
  .left_modal{
      height:500px;
      width:800px;
      flex-direction: row;
  }
  .left_modal_no{
    height:500px;
      width:800px;
      color:aquamarine;
      display:flex;
      align-items: center;
      justify-content: center;
      text-shadow: #090a0f;
      font-size: 30px;

	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
  margin-bottom:30px;
  text-align: center;

    
  }
  .vid{
    height:97%;
    width:800px;
    position:absolute;
  }
  .right_modal{
    height:80%;
    width:400px;
    display: flex;align-items: center;justify-content: space-evenly;
    flex-direction: column;
    flex:40%;
    color: white;
}

.desc{
  text-align: left;
  margin-left:10px;
}

.tec{
  display: flex;justify-content: center;flex-direction: column;
}
.p_ved a{
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:90px;
  background:radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding: 0px 12px;
  border-radius: 20px;
  cursor: pointer;
}




