.skills{
  width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;flex-direction: column;
}

.back_button{
width: 40px;
  height: 40px;
  border-radius: 100px;
  border-color: #FFF;
  cursor: pointer;
  background: transparent;
  position: absolute;
  color: aliceblue;
  font-size: 15px;
  top: 0;
  margin: 30px;
}

.back_button:hover {
  box-shadow: 0 0 10px #000000;
}

.skills_title{
  position: fixed;
  top: 2px;
  font-size: xx-large;
  color: white;
  display:flex;
  justify-content: center;
}
.qua_title {
  z-index: 999;
  position: fixed;
  bottom: 34vh;
  font-size: xx-large;
  color: white;
  left: 43%;
  display:flex;
  justify-content: center;
}
.tech{
  width: 90vw;
  height: 50vh;
  margin-top: 50px;
  display: flex;align-items: center;justify-content: center;
  flex-wrap: wrap;
}
.tech-icons {
  width: 11%;height: 22%;
    font-size: 4.5em ;
    margin: 12px ;
    padding: 10px ;
    opacity: 0.93 ;
    border: 1.7px solid rgba(200, 137, 230, 0.637) ;
    text-align: center ;
    border-radius: 5px ;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) ;
    overflow: hidden ;
    transition: all 0.4s ease 0s ;
    color:#1fcecb;
    
  }
.data {
  width: 250px;
	height: 90px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
  margin:0%;
  
}
.data:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
	filter: blur(10px);
	margin: -20px;
}
.data p{
  margin:0%;
}
.data h3{
  color:black;
  margin:0%;
}

  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px ;
    }
  }
  .tech-icons:hover {
    transform: scale(1.05) ;
    overflow: hidden ;
    border: 2.2px solid rgba(197, 115, 230, 0.883) ;
    color: white;
  }
  .tech-icon-images {
    padding: 20px ;
    line-height: 1.6 ;
  }

  .qualifications{
    width: 70%;
    height: 60vh;
  }

  .qua{
    display: grid;
     margin-left: 50px;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      position: relative;
      text-align: center;
      top: 5vh;
      grid-row-gap:50px;

   
  }
    .qua :nth-child(1) {
      grid-area: 1/1 / span 1 / span 1;
    }
  
    .qua :nth-child(2) {
      grid-area: 2/2 / span 1 / span 1;
    }
  
    .qua :nth-child(3) {
      grid-area: 1/3 / span 1 / span 1;
    }
    

.outer{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;width: 68%;
    position: fixed;
    flex-direction: column;
}
.liner{
  height: 3px;
  width: 65.9%;
  background-color: black;
}

.rounds{
  width: 69%;
  display: flex;align-items: center;justify-content: space-between;
  position: absolute;
  overflow: hidden;
 
}

.round{
  font-size: large;
margin-bottom: 19px
}
.round1{
margin-top: 20px
}
.data_items{
  display: flex;align-items: center;justify-content: space-evenly;
}

h2{
  padding: 0;margin: 0;
}